<div class="t--intro m-b200">Filter by Type</div>
<div class="m-b300">
  <% @facets.each do |type| %>
    <% if type[0] != '' && type(type[0]) != '' %>
      <label class="cb" for="facet_<%= type[0] %>">
        <%= check_box_tag 'facet[]', type[0], is_checked(@facets_selected, type[0]), class: 'cb-f', id: 'facet_' + type[0] %>
        <span class="cb-l"><%= type(type[0]) %> (<%= type[1] %>)</span>
      </label>
    <% end %>
  <% end %>
</div>
<% if @facets.count > 1 %>
  <button type="submit" class="btn">Apply</button>
<% end %>
<% if @facets_selected.count > 0 %>
  <button id="resetForm" type="reset" class="btn btn--c btn--r" style="display: none">Reset</button>
<% end %>

<script type="text/javascript">
  var reset_button = document.getElementById('resetForm');

  reset_button.style.display = 'inline-block';

  reset_button.addEventListener('click', function (e) {
    e.preventDefault()

    var checks = document.querySelectorAll('input.cb-f');

    for (var i = 0; i < checks.length; i++) {
      checks[i].checked = false;
    }

    document.getElementById('searchForm').submit();
  });
</script>
