<div class="t--intro m-b200">Filter by Type</div>
<div class="m-b300">
  <% @facets.each do |type| %>
    <% if type[0] != '' && type(type[0]) != '' %>
      <label class="cb" for="facet_<%= type[0] %>">
        <%= check_box_tag 'facet[]', type[0], is_checked(@facets_selected, type[0]), class: 'cb-f', id: 'facet_' + type[0] %>
        <span class="cb-l"><%= type(type[0]) %> (<%= type[1] %>)</span>
      </label>
    <% end %>
  <% end %>
</div>
<button class="btn">Apply</button>
