<%= form_tag(root_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
<% end %>

<% if @post_results %>
  <% if @post_results.empty? %>
      <p>Sorry, there were no results for your query.</p>
  <% else %>
    <ul class="search_results">
      <% @post_results.each do |post_result| %>
        <li>
          <%= link_to post_result['title'], post_result['url'] %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
